.aparent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  color: #000;
  
}

.adiv1 { grid-area: 1 / 1 / 2 / 6; }
.adiv2 { grid-area: 2 / 1 / 4 / 3; }
.adiv3 { grid-area: 2 / 3 / 4 / 5; }
.adiv4 { grid-area: 4 / 1 / 6 / 3; }
.adiv5 { grid-area: 4 / 3 / 6 / 5; }
.adiv6 { grid-area: 2 / 5 / 6 / 6; }

#textarea{
  resize: none;
display:block;
width: 260px; height: 80px;
background-color: #e4d8cb;
    border: 2px solid #664e44

}

input::placeholder {
  color: black;
  opacity: 1;   
}
textarea::placeholder {
  color: black; 
  opacity: 1; 
}
.adiv1{
  font-size: 40px;
  color: #000;
  margin-top: -15px;
  margin-bottom: -20px;
  font-family: 'Great Vibes', cursive;
}
.adiv2{
    padding: 30px;
     border: 3mm ridge rgb(102 78 68 / 0.6);
    
}
.adiv3{
    padding: 30px;
     border: 3mm ridge rgb(102 78 68 / 0.6);
}
.adiv4{
    padding: 30px;
     border: 3mm ridge rgb(102 78 68 / 0.6);
}
.adiv5{
    padding: 30px;
     border: 3mm ridge rgb(102 78 68 / 0.6);
}