.parent {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  column-gap: 20px;
  row-gap: 12px;
  padding: 20px;
}

.div1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  align-items: flex-start;
}

.logo {
  width: 80%;
  height: 80%;
}

.div2 {
  grid-column: 2;
  grid-row: 1;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #000;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.div3 {
  text-align: right;
  color: #000;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
  margin-top: -120px;
}
.div4 {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  gap: 12px;
}

.buscador {
  width: 500px;
  height: 42px;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #e4d8cb;
}

.buscador:focus {
  border-color: #664e44;
}

.div5 {
  grid-column: 1 / span 2;
  grid-row: 4;
  margin-top: 10px;
}


.paciente-card {
  border: 1px solid #664e44;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  color: #000;
  font-size: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e4d8cb;
}

.paciente-card:hover {
  background-color: #d3a794;
}
.vec{
  width: 55px;
  height: 55px;
}